<nav class="navbar navbar-expand-lg navbar-light vertNeos">
    <a class="navbar-brand" routerLink="/">{{title}}</a>
      <button class="navbar-toggler" type="button" (click)="isCollapse = !isCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapse">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/apport" >Apport Calorique</a>
        <a class="nav-item nav-link" routerLink="/suivi">Suivi Calorique</a>
        <a class="nav-item nav-link" routerLink="/repas">Gérer mes repas</a>
      </div>
    </div>
  </nav>
<br>
